<% provide(:title, 'Edit password') %>
<% provide(:button_text, t('helpers.submit.edit') ) %>
<h1>パスワードの変更</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_with(model: @user, url: password_change_path, method: :patch) do |f| %>
      <%= render 'shared/error_messages', object: @user %>

      <%= f.label :password %>
      <div class="input-group">
        <%= f.password_field :password, class: 'form-control', id: 'password-field' %>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default toggle-password" data-target="#password-field">
            <span class="glyphicon glyphicon-eye-open"></span>
          </button>
        </span>
      </div>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
    
  </div>
</div>
