<%= form_with(model: @user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <div class="input-group">
    <%= f.password_field :password, class: 'form-control', id: 'password-field' %>
    <span class="input-group-btn">
      <button type="button" class="btn btn-default toggle-password" data-target="#password-field">
        <span class="glyphicon glyphicon-eye-open"></span>
      </button>
    </span>
  </div>

  <%= recaptcha_tags %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
