<div class="chart-container">
  <div class="scrollableChartWrapper">
    <canvas id="<%= chart_id %>" 
        data-chart-type="line"
        data-labels=         "<%= labels.to_json %>"
        data-data=           "<%= data.to_json %>"
        data-dataset-label=  "<%= dataset_label %>"
        data-gradient-color1="<%= gradient_color1.to_json %>"
        data-gradient-color2="<%= gradient_color2.to_json %>">
    </canvas>
  </div>
  <div class="fixed-legend">
      <div><%= dataset_label %></div>
  </div>
</div>
