<%= turbo_frame_tag daily_record do %>
  <div class="table-row">
    <div class="table-cell <%= weekend_day_class(daily_record.date) %>" data-label="Date">
      <%= l(daily_record.date, format: :table) %>
    </div>
    <div class="table-cell" data-label="Sleep">
      <%= daily_record.sleep %>
    </div>
    <div class="table-cell" data-label="Meal">
      <%= daily_record.meal %>
    </div>
    <div class="table-cell" data-label="Mental">
      <%= daily_record.mental %>
    </div>
    <div class="table-cell" data-label="Training">
      <%= daily_record.training %>
    </div>
    <div class="table-cell" data-label="Condition">
      <%= daily_record.condition %>
    </div>
    <div class="table-cell memo" data-label="Memo"
        data-toggle="tooltip" data-tooltip-text="<%= daily_record.memo %>">
        <%= simple_format(daily_record.memo) %>
    </div>
    <div class="table-cell" data-label="Actions">
      <%= link_to 'Edit', edit_daily_record_path(daily_record) %>
    </div>
  </div>
<% end %>
