<%= form_with(model: @daily_record, data: { turbo: false }) do |f| %>

  <%= render 'shared/error_messages', object: @daily_record %>

  <%= f.label :date %>
  <%= f.date_field :date,        class: 'form-control' %>

  <%= f.label :sleep %>
  <div class="radio-group" data-required="true">
    <% (1..5).each do |value| %>
      <div class="radio-inline">
        <%= f.radio_button :sleep, value, id: "sleep_#{value}" %>
        <label for="sleep_<%= value %>"><%= value %></label>
      </div>
    <% end %>
  </div>

  <%= f.label :meal %>
    <div class="radio-group" data-required="true">
    <% (1..5).each do |value| %>
      <div class="radio-inline">
        <%= f.radio_button :meal, value, id: "meal_#{value}" %>
        <label for="meal_<%= value %>"><%= value %></label>
      </div>
    <% end %>
  </div>

  <%= f.label :mental %>
    <div class="radio-group" data-required="true">
    <% (1..5).each do |value| %>
      <div class="radio-inline">
        <%= f.radio_button :mental, value, id: "mental_#{value}" %>
        <label for="mental_<%= value %>"><%= value %></label>
      </div>
    <% end %>
  </div>

  <%= f.label :training %>
    <div class="radio-group" data-required="true">
    <% (1..5).each do |value| %>
      <div class="radio-inline">
        <%= f.radio_button :training, value, id: "training_#{value}" %>
        <label for="training_<%= value %>"><%= value %></label>
      </div>
    <% end %>
  </div>

  <%= f.label :condition %>
    <div class="radio-group" data-required="true">
    <% (1..5).each do |value| %>
      <div class="radio-inline">
        <%= f.radio_button :condition, value, id: "condition_#{value}" %>
        <label for="condition_<%= value %>"><%= value %></label>
      </div>
    <% end %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary mt-2" %>
  
<% end %>