<%= turbo_frame_tag "record_#{record.id}" do %>
  <div class="table-row">
    <div class="table-cell"><%= date %></div>
    <div class="table-cell"><%= record.sleep %></div>
    <div class="table-cell"><%= record.meal %></div>
    <div class="table-cell"><%= record.mental %></div>
    <div class="table-cell"><%= record.training %></div>
    <div class="table-cell"><%= record.condition %></div>
    <div class="table-cell">
      <%= link_to 'Edit', edit_daily_record_path(record),
          data: { turbo_frame: "record_#{record.id}" } %>
    </div>
  </div>
<% end %>