<div class="table-row row-edit">
  <%= form_with(model: daily_record) do |f| %>
    <div class="table-cell" data-label="Date">
      <%= f.date_field :date,        class: 'form-control', readonly: true %>
    </div>
    <div class="table-cell" data-label="Sleep">
      <%= f.number_field :sleep,     class: 'form-control', in: 1..5, step: 1, required: true %>
    </div>
    <div class="table-cell" data-label="Meal">
      <%= f.number_field :meal,      class: 'form-control', in: 1..5, step: 1, required: true %>
    </div>
    <div class="table-cell" data-label="Mental">
      <%= f.number_field :mental,    class: 'form-control', in: 1..5, step: 1, required: true %>
    </div>
    <div class="table-cell" data-label="Training">
      <%= f.number_field :training,  class: 'form-control', in: 1..5, step: 1, required: true %>
    </div>
    <div class="table-cell" data-label="Condition">
      <%= f.number_field :condition, class: 'form-control', in: 1..5, step: 1, required: true %>
    </div>
    <div class="table-cell memo" data-label="Memo">
      <%= f.text_area :memo, class: 'form-control' %>
    </div>
    <div class="table-cell" data-label="Actions">
      <div class="table-btn-group">
        <%= f.submit 'Submit',   class: 'btn btn-primary submit' %>
        <% if has_delete %>
          <%= link_to daily_record, class: "btn btn-danger",
              data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } do %>
              <i class="glyphicon glyphicon-trash trash"></i>
          <% end %>
        <% end %>
        <%= link_to cancel_path, class: 'btn btn-warning cancel' do %>
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
