<h1>過去の記録</h1>

<div class="month-navigation mb-3">
  <div class="navigation-container">
    <%= link_to daily_records_path(month: @target_month.prev_month.strftime("%Y-%m")),
      class: "nav-link" do %>
      <i class="fas fa-chevron-left fa-2x"></i>
    <% end %>

    <div class="date-container">
      <%= @target_month.strftime("%Y") %><span class="small-text">年</span>
      <%= @target_month.strftime("%m") %><span class="small-text">月</span>
    </div>
    
    <%= link_to daily_records_path(month: @target_month.next_month.strftime("%Y-%m")),
      class: "nav-link" do %>
      <i class="fas fa-chevron-right fa-2x"></i>
    <% end %>
  </div>
</div>

<div class="table-like-container">

  <div class="table-header">
    <div class="table-row">
      <div class="table-cell">Date</div>
      <div class="table-cell">Sleep</div>
      <div class="table-cell">Meal</div>
      <div class="table-cell">Mental</div>
      <div class="table-cell">Training</div>
      <div class="table-cell">Condition</div>
      <div class="table-cell">Memo</div>
      <div class="table-cell">Actions</div>
    </div>
  </div>

  <div class="table-body">
    <% @calendar_dates.each do |date| %>
      <% if daily_record = @daily_records[date] %>
        <%= render daily_record %>
      <% else %>
        <%= render 'empty_record', date: date %>
      <% end %>
    <% end %>
  </div>

</div>

<% content_for :js do %>
  <%= javascript_import_module_tag "custom/tooltip" %>
<% end %>