<h1>Condition Table</h1>
<div class="month-navigation mb-3">
  <div class="navigation-container">
    <%= link_to daily_records_path(date: @date.prev_month), class: "nav-link" do %>
      <i class="fas fa-chevron-left fa-2x"></i>
    <% end %>
    
    <span class="date-display">
      <%= @date.strftime("%Y") %><span class="unit">年</span><%= @date.strftime("%m") %><span class="unit">月</span>
    </span>
    
    <%= link_to daily_records_path(date: @date.next_month), class: "nav-link" do %>
      <i class="fas fa-chevron-right fa-2x"></i>
    <% end %>
  </div>
</div>

<table class="table table-hover text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center">Date</th>
      <th scope="col" class="text-center uniform-width">Sleep</th>
      <th scope="col" class="text-center uniform-width">Meal</th>
      <th scope="col" class="text-center uniform-width">Mental</th>
      <th scope="col" class="text-center uniform-width">Training</th>
      <th scope="col" class="text-center uniform-width">Condition</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @dates.each do |date| %>
      <tr>
        <td><%= date %></td>
        <% if record = @daily_records[date] %>
          <td><%= record.sleep %></td>
          <td><%= record.meal %></td>
          <td><%= record.mental %></td>
          <td><%= record.training %></td>
          <td><%= record.condition %></td>
          <td>
            <%= link_to 'Edit', edit_daily_record_path(record) %>
          </td>
        <% else %>
          <td colspan="5">記録なし</td>
          <td>
            <%= link_to 'New', new_daily_record_path(date: date) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>  
