<h1>過去の記録</h1>
<div class="month-navigation mb-3">
  <div class="navigation-container">
    <%= link_to daily_records_path(month: @target_month.prev_month.strftime("%Y-%m")),
      class: "nav-link" do %>
      <i class="fas fa-chevron-left fa-2x"></i>
    <% end %>
    
    <span class="date-display">
      <%= @target_month.strftime("%Y") %><span class="unit">年</span>
      <%= @target_month.strftime("%m") %><span class="unit">月</span>
    </span>
    
    <%= link_to daily_records_path(month: @target_month.next_month.strftime("%Y-%m")),
      class: "nav-link" do %>
      <i class="fas fa-chevron-right fa-2x"></i>
    <% end %>
  </div>
</div>

<div class="table-like-container">

  <div class="table-header">
    <div class="table-row">
      <div class="table-cell">Date</div>
      <div class="table-cell">Sleep</div>
      <div class="table-cell">Meal</div>
      <div class="table-cell">Mental</div>
      <div class="table-cell">Training</div>
      <div class="table-cell">Condition</div>
      <div class="table-cell">Actions</div>
    </div>
  </div>

  <div class="table-body">
    <% @calendar_dates.each do |date| %>
      <% if record = @daily_records[date] %>
        <%= render 'record_row', record: record, date: date %>
      <% else %>
        <%= render 'empty_record_row', date: date %>
      <% end %>
    <% end %>
  </div>

</div>
